<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @invoice.Name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @invoice.Date %>
</p>

<p>
  <strong>Course:</strong>
  <%= @invoice.Course %>
</p>

<p>
  <strong>Price:</strong>
  <%= @invoice.Price %>
</p>

<p>
  <strong>Address:</strong>
  <%= @invoice.Address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @invoice.Phone %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
